<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794333114909-m9t80bneqt44ivg1u48bg65fflboo0d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794333114909-m9t80bneqt44ivg1u48bg65fflboo0d8</string>
	<key>API_KEY</key>
	<string>AIzaSyCn-P55fEdwMg1uIasckywdS9MA8AJfdPM</string>
	<key>GCM_SENDER_ID</key>
	<string>794333114909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travelpassport.app</string>
	<key>PROJECT_ID</key>
	<string>travel-passport-5cefb</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-passport-5cefb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794333114909:ios:2d43790a95640b57774cf4</string>
</dict>
</plist>